__pycache__/
.venv/
venv/
.env
.DS_Store
*.pyc
*.pyo
*.pyd
*.sqlite3
hospital.db
*.db
fernet.key
hmac.key
.pytest_cache/
.vscode/
.idea/
/.mypy_cache
.coverage
dist/
build/
*.egg-info/
/.streamlit/
fernet.key
__pycache__/
.venv/
venv/
*.pyc
*.db
hmac.key